<app-navbar></app-navbar>
<div class="container">
  <!-- <h1>My name is {{myName}}</h1>
  <h2>Location {{location}}</h2>
  <p>Status : {{getStatus()}}</p>
  <p [innerText]="myName"></p>
  <p>
    <button class="btn btn-primary" [disabled]="!status" (click)="clickMe()">Save</button>
  </p> -->
  <form (ngSubmit)="onSubmit(f)" #f="ngForm"> 
    <div style="width:30%">
      <table class="table table-borderless">
        <tr>
          <td>Name </td>
          <td><input type="text" name="getName" ngModel></td>
        </tr>
        <tr>
          <td>Roll number </td>
          <td><input type="text" name="getRoll" ngModel></td>
        </tr>
        <tr>
          <td></td>
          <td><button class="btn btn-primary" type="submit">Submit</button></td>
        </tr>
      </table>
    </div>
    <p>{{myName}}</p>
  </form>
</div>